@tailwind base;
@tailwind components;
@tailwind utilities;

@css {
    .content {
        @apply .leading-8 .py-4 .mx-4 .text-xl
    }
   .content a { 
        @apply .underline
    }
    .content a:hover {
        @apply .no-underline
    }
    .content h2 {
        @apply .text-3xl .mt-4 .mb-3
    }
    .content p {
        @apply .my-6
    }
    .header-anchor {
        @apply .hidden
    }
    .content h2:hover .header-anchor {
        @apply .inline
    }
    footer {
        @apply .text-center
    }
    footer ul {
        @apply 
    }

    @media (min-width: 1024px) {
        .content__default {
            @apply .mr-64
        }
    }
}